:root {
  font-family: Questrial, sans-serif;
  background-color: #ffff;
}
body {
  padding: 0px;
  margin: 0px;
}

.textFiled {
  padding: 0px !important;
}
.Logo {
  height: 100px !important;
  width: 100px !important;
  margin: 20px;
}
.title {
  color: #0a9ffd;
}
.productimage {
  height: 250px;
}
